# ==============================================================================
# MAVEN & BUILD
# ==============================================================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Evita subir arquivos de log gerados pelo Maven ou pelo Spring
*.log

# ==============================================================================
# VISUAL STUDIO CODE (VSCODE)
# ==============================================================================
.vscode/*
# A regra de ouro que combinamos: ignora tudo, exceto o launch.json
!.vscode/launch.json
# Ignora arquivos de workspace e histórico de debug
*.code-workspace
.history/

# ==============================================================================
# INTELLIJ IDEA
# ==============================================================================
.idea/
*.iws
*.iml
*.ipr
out/
# Se você usar o plugin do JRebel ou similares
rebel.xml

# ==============================================================================
# ECLIPSE
# ==============================================================================
.metadata/
bin/
tmp/
.tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.factorypath

# ==============================================================================
# SISTEMA OPERACIONAL (LIXO)
# ==============================================================================
# Windows
Thumbs.db
Desktop.ini
# Linux
.DS_Store
.fuse_hidden*
.directory
.Trash-*